#mi-host {
    display: flex;

    justify-content: space-evenly;

    flex-wrap: wrap;
    div {
        width: 50%;
        min-width: 40rem;
    }
}
@media only screen and (max-width: 800px) {
    #mi-host div {
        min-width: 100%;
    }
}
